<div class="row jusify-content-center">
  <h2>{{title | titlecase}}</h2>
  <div class="col-auto">
    <table class="mx-2 table table-bordered table-striped">
      <tbody>
        <tr>
          <th>Name</th>
          <td>{{fullName | uppercase}}</td>
        </tr>
        <tr>
          <th>BirtData</th>
          <td>{{birtData | date:'dd-MM-yyyy HH:mm'}}</td>
        </tr>
        <tr>
          <th>Height</th>
          <td>{{salary | currency: 'EUR':'symbol':'3.2-3'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
